{% extends "base_templates/index.html" %}
{%load crispy_forms_tags%}
{% load static %}
{% block title %}
  Password Reset
{% endblock title %}

{% block content %}

<div class=" p-3 col-5 m-auto" style="background-color: #e8e8e8;">
    <h4 class="text-center">Password Reset Form</h4>
    <div class="card-body">
        <form method="post">
            {{form|crispy}}
            {% csrf_token %}
        <p><input type="submit" value="Change"></p>
       
        </form>
    </div>

</div>
{%endblock content%}